{% extends "base.html" %}

{% block head %}
<title>Adress-Liste</title>
<link rel="stylesheet" href="{{ url_for('static', filename='adress_liste.css') }}">
{% endblock %}


{% block body%}
<h2>Unsere Adressendatenbank!</h2>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Strasse</th>
      <th>Hausnummer</th>
      <th>PLZ</th>
      <th>Stadt</th>
      <th>Land</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Yoda</td>
      <td>Meister</td>
      <td>Dagobahstr.</td>
      <td>1</td>
      <td>0001</td>
      <td>Jedi-City</td>
      <td>Schweiz</td>
    </tr>
    <tr>
      <td>Lorenzo</td>
      <td>Quadrelli</td>
      <td>Rietstrasse</td>
      <td>12A</td>
      <td>8355</td>
      <td>Aadorf</td>
      <td>Schweiz</td>
    </tr>
    <tr>
      <td>Matthias</td>
      <td>Günther</td>
      <td>Bahnhofstr.</td>
      <td>17</td>
      <td>8001</td>
      <td>Zürich</td>
      <td>Schweiz</td>
    </tr>
    <tr>
      <td>Matilda</td>
      <td>Musterfrau</td>
      <td>Rushistr.</td>
      <td>35</td>
      <td>8001</td>
      <td>Zürich</td>
      <td>Schweiz</td>
    </tr>
      <tr>
      <td>Arnold</td>
      <td>Mustermann</td>
      <td>Im Wegli</td>
      <td>4</td>
      <td>8001</td>
      <td>Zürich</td>
      <td>Schweiz</td>
    </tr>

  </tbody>
</table>

{% endblock %}
