{% extends "base.html" %}

{% block head %}
<title>Login</title>
<script>
// Chatgpt
  function validateForm(event) {
    event.preventDefault(); // Prevent default form submission

    var passwordInput = document.getElementById('password-input');
    var passwordError = document.getElementById('password-error');

    if (passwordInput.value.length < 6) {
      passwordError.style.display = 'block';
    } else {
      passwordError.style.display = 'none';
      event.target.submit(); // Manually submit the form
    }
  }
</script>
{% endblock %}

{% block body %}
<h1>Login</h1>

<form action="/login" method="POST" class="login-form" onsubmit="return validateForm(event)">
  <input placeholder="Email" type="email" autocomplete="off" name="username">
  <input placeholder="Passwort" type="password" autocomplete="off" name="password" id="password-input">
  <span id="password-error" style="color: red; display: none;">Passwort muss länger als 5 sein!</span>
  <input type="submit" value="Login">
</form>


{% endblock %}
