{% extends 'base.html' %}

{% block content %}
    {% if loginError %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Das Passwort muss gleich sein wie der Username. Versuchen sie es nochmals.
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if resetMessage %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Passwort vergessen Mail wurde versendet an: {{ resetMessage }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if person %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ person }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="container">
        <h1>Willkommen auf unserer Seite!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed lectus euismod, molestie quam id,
            tincidunt quam. Donec ut libero sit amet sem semper congue. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Aenean eu leo quam. Sed ac lectus eget quam varius
            semper.</p>
    </div>
{% endblock %}