{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Kontakt</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name eingeben" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">E-Mail:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="E-Mail-Adresse eingeben" required>
                </div>
            </div>
            <div class="form-group">
                <label for="nachricht" class="col-sm-2 control-label">Nachricht:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="nachricht" name="nachricht" rows="5"
                              placeholder="Nachricht eingeben" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Senden</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
