.spacer {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
}

#content {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

  #content h2 {
    font-size: 24px;
  }

  #content p {
    font-size: 14px;
  }
}