{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if message %}
        <p class="error-message">{{ message }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('login') }}">
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Einloggen">
    </form>
{% endblock %}

{% block nav %}

        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="kontakt">Kontakt</a></li>
        <li class="nav-item"><a class="nav-link" href="login">Login</a></li>


{% endblock %}