body {
    padding-top: 80px;
}
/* Code von https://www.w3schools.com/css/css_rwd_mediaqueries.asp modifziert */

@media only screen and (max-width: 600px) {
  p  {
    background-color: lightblue;
    padding-top: 50px;
  }
}