{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}
<h1>Willkommen zur Webapplikation</h1>
<br>
<p>Diese Seite zeigt einen Überblick über die Funktionen der Webapplikation:</p>

<ul class="list-group">
    <li class="list-group-item"><strong>Home:</strong> Startseite</li>
    <li class="list-group-item"><strong>Kontakt:</strong>  Hier findest du unsere Kontaktdaten</li>
    <li class="list-group-item"><strong>Login:</strong> Hier kannst du dich mit einer E-Mail-Adresse und einem Passwort anmelden, das Passwort zurückzusetzen oder dich neu registrieren.</li>
    <li class="list-group-item"><strong>Adressliste:</strong> Eine Seite mit einer Tabelle fiktiver Adressen, welche nur nach Login sichtbar ist.</li>
</ul>
{% endblock %}