{% extends 'base.html' %}

{% block content %}
    <h1>Adressliste</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Adresse</th>
        </tr>
        <tr>
            <td>Djellor Simnica</td>
            <td>Im Wisli 18, 8805 Richterswil</td>
        </tr>
        <tr>
            <td>Dijellza Simnica</td>
            <td>Glarnerstrasse 17, 8805 Richterswil</td>
        </tr>
        <tr>
            <td>Arben Sopjani</td>
            <td>Ringstrasse-Nord 25, 5600 Lenzburg</td>
        </tr>
    </table>
{% endblock %}
