{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Passwort zurücksetzen</h1>
        <form method="post" action="{{ url_for('password_reset') }}">
            <div class="form-group">
                <label for="email">E-Mail-Adresse</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Passwort zurücksetzen</button>
            <a href="/" class="btn btn btn-default">Schliessen</a>
        </form>
    </div>
{% endblock %}
