{% extends 'base.html' %}

{% block content %}
    <h2>Willkommen auf der Startseite der Rosenberg Applikation!</h2>
    <p> Das ist die Webseite von Rosenberg AG. Wir machen irgendetwas Spannendes. Wir können
        ein bisschen HTML und CSS und verstehen FLASK. Wir haben auch Jinja2 begriffen.
        Von Javascript und Bootstrap haben wir leider keine Ahnung.</p>
    <hr>
    <ul>
        <li><a href="/Home">Home</a></li>
        <li><a href="/Kontakt">Kontakt</a></li>
        <li><a href="/Login">Login</a></li>
    </ul>
{% endblock %}
