{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Registrierung</h1>
        <form>
            <div class="form-group">
                <label for="anrede">Anrede</label>
                <select class="form-control" id="anrede" name="anrede">
                    <option value="Herr">Herr</option>
                    <option value="Frau">Frau</option>
                </select>
            </div>
            <div class="form-group">
                <label for="vorname">Vorname</label>
                <input type="text" class="form-control" id="vorname" name="vorname" required>
            </div>
            <div class="form-group">
                <label for="nachname">Nachname</label>
                <input type="text" class="form-control" id="nachname" name="nachname" required>
            </div>
            <div class="form-group">
                <label for="email">E-Mail-Adresse</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </form>
    </div>
{% endblock %}
