<!DOCTYPE html>
<html>
    <head>
        <title>Scroll Message</title>
    </head>
    <body>
        <h1>Scroll Message</h1>
        <form action="/message" method="post">
            <label for="message">Nachricht:</label>
            <input type="text" id="message" name="message">

            <label for="color">Farbe:</label>
            <select id="color" name="color">
                <option value="red">Rot</option>
                <option value="green">Grün</option>
                <option value="blue">Blau</option>
                <option value="yellow">Gelb</option>
                <option value="magenta">Magenta</option>
                <option value="cyan">Cyan</option>
                <option value="white">Weiss</option>
                <option value="grey">Grau</option>
                <option value="black">Aus</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        
        

        
        <h2>Zurück zum Index</h2>
        <a href="/">zurück</a><br/>
    </body>
</html>