<!DOCTYPE html>
<html>
    <head>
        <title>Set Pixel</title>
    </head>
    <body>
        <h1>Set Pixel</h1>
        <form action="/setpixel" method="post">
            <label for="xcoord">X-Koordinate:</label>
            <input type="text" id="xcoord" name="xcoord">
            <label for="ycoord">Y-Koordinate:</label>
            <input type="text" id="ycoord" name="ycoord">
            <label for="color">Farbe:</label>
            <select id="color" name="color">
                <option value="red">Rot</option>
                <option value="green">Grün</option>
                <option value="blue">Blau</option>
                <option value="yellow">Gelb</option>
                <option value="magenta">Magenta</option>
                <option value="cyan">Cyan</option>
                <option value="white">Weiss</option>
                <option value="grey">Grau</option>
                <option value="black">Aus</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        
        

        
        <h2>Zurück zum Index</h2>
        <a href="/">zurück</a><br/>
    </body>
</html>