<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <style>
            table, th, td {
            border: 1px solid white;
            }
            th, td {
            background-color: #96D4D4;
            }
        </style>
    </head>
    <body>
        <h1>Wetterdaten</h1>
        <table>
            <tr>
                <th>Temperatur °C</th>
                <th>Feuchtigkeit %</th>
                <th>Luftdruck hpa</th>
            </tr>
            <tr >
                <td>{{temperature}}</td>
                <td>{{humidity}}</td>
                <td>{{pressure}}</td>
            </tr>
        </table>
        <a href="/weather">refresh</a><br/>

        
        <h2>Zurück zum Index</h2>
        <a href="/">zurück</a><br/>
    </body>
</html>