<!DOCTYPE html>
<html>
   <head>
      <title>Meine FLASK-App</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   </head>
   <body>
      <!--  https://bootstrapdocs.com/v3.3.6/docs/components/#navbar  -->
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">BWIA20</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  {% if 'username' in session %}
                  <li><a href="{{ url_for('adress_liste') }}">Adress-Liste</a></li>
                  <li><a class="username">{{ session['username'] }}</a></li>
                  <li><a data-target="#myModal" role="button" data-toggle="modal">Logout</a></li>
                  {% else %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  {% endif %}
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <!--    https://morioh.com/p/82c0d34efc8d    -->
      <div id="myModal" class="modal fade">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Willst du dich wirklich ausloggen</h4>
               </div>
               <div class="modal-body">
                  <button type="button" name="stay_logged_in" id="stay_logged_in">Eingeloggt bleiben</button>
                  <a href="{{url_for('logout')}}" name="logout_button" id="logout_button">Logout</a>
               </div>
            </div>
         </div>
      </div>
      {% block content %}{% endblock %}
   </body>
</html>
<script>
   $(document).ready(function(){
        $('#stay_logged_in').click(function(){
            $('#loginModal').hide();
            location.reload();
        });
   });
</script>