{% extends "base.html" %}

{% block content %}

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>John Doe</td>
          <td>john.doe@example.com</td>
          <td>Street 1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jane Smith</td>
          <td>jane.smith@example.com</td>
          <td>Street 12</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Michael Johnson</td>
          <td>michael.johnson@example.com</td>
          <td>Street 123</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
