{% extends "base.html" %}

{% block content %}

<h1> Kontaktseite </h1>
    <div id="contact">
    <table>
        <tr>
            <th>Name</th>
            <td>Rinor Palushi</td>
        </tr>
        <tr>
            <th>E-Mail</th>
            <td>rinor.palushi@student.fh-hwz.ch</td>
        </tr>
        <tr>
            <th>Telefon</th>
            <td>+123456789</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>123 Main Street, City, Schweiz</td>
        </tr>
    </table>
</div>

{% endblock %}
