<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="content-container">
        <h1>Status</h1>
        <main class="flexbox-container">
            
        </main>

         <div class="back-button-container">
                <a href="#" class="back-button" onclick="history.back()">Zurück</a>
        </div>

    </div>
</body>
</html>
