{% extends 'base.html' %}

{% block body %}
    <h1>Adressliste</h1>
    <!-- https://getbootstrap.com/docs/4.1/content/tables/ -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">PLZ</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ort</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Miroslav</th>
            <td>Cutic</td>
            <td>8121</td>
            <td>Teststrasse 69</td>
            <td>Zürich</td>
        </tr>
        <tr>
            <th scope="row">Valentina</th>
            <td>Sajfar</td>
            <td>8000</td>
            <td>Teststrasse 100</td>
            <td>Benglen</td>
        </tr>
        </tbody>
    </table>
{% endblock %}