<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
    <div class="container">
    <h1>Willkommen!</h1>

    <!-- Login Modal von ChatGPT -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login">
                        <div class="form-group">
                            <label for="email">E-Mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail-Adresse eingeben">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Einloggen</button>
                    </form>
                    <br />
                    <p><a class="link-opacity-100" data-toggle="modal" href="#fpModal">Passwort vergessen</a></p>
                    <p><a class="link-opacity-100" data-toggle="modal" href="#registerModal">Registrieren</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal von ChatGPT -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Bestätigung ausloggen</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie sich wirklich ausloggen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Eingeloggt bleiben</button>
                    <a href="logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Passwort vergessen analog zu vorherigen -->
    <div class="modal fade" id="fpModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fpModalLabel">Passwort vergessen</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/fp">
                        <div class="form-group">
                            <label for="emailfp">E-Mail</label>
                            <input type="email" class="form-control" id="emailfp" name="emailfp" placeholder="E-Mail-Adresse eingeben">
                        </div>
                        <button type="submit" class="btn btn-primary">Einloggen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Register analog zu vorherigen -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrieren</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/register">
                        <div class="form-group">
                            <label for="anrede">Anrede</label>
                            <input type="text" class="form-control" id="anrede" name="anrede" placeholder="Anrede">
                        </div>
                        <div class="form-group">
                            <label for="vorname">Vorname</label>
                            <input type="text" class="form-control" id="vorname" name="vorname" placeholder="Vorname">
                        </div>
                        <div class="form-group">
                            <label for="nachname">Nachname</label>
                            <input type="text" class="form-control" id="nachname" name="nachname" placeholder="Nachname">
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail-Adresse eingeben">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Registrieren</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- https://getbootstrap.com/docs/5.0/components/navbar/ -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Startseite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kontakt">Kontakt</a>
                </li>
                {% if 'username' in session %}
                    <li class="nav-item">
                        <a class="nav-link" href="adressliste">Adress-Liste</a>
                    </li>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
                        Logout
                    </button>
                    <li class="nav-item">
                        <p class="nav-link">Benutzer: {{ session['username'] }}</p>
                    </li>
                {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
                        Login
                    </button>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
    <script src="/static/js/main.js" charset="utf-8"></script>
    </div>
    </body>
</html>