<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
            {% if username %}
                <li><a href="{{ url_for('adress_liste') }}">Adress-Liste</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li>Willkommen, {{ username }}</li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>