/*
    Source:    source:https://raw.githubusercontent.com/walter-rothlin/Source-Code/master/DatenFiles/HTML/Table_Sortierbar.css
*/

table {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse
}

table td {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 3px
}

table th {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 3px
}

table h2 {
	margin: 0
}

table caption {
	padding: 0.5em;
	text-align: left;
	font-weight: bold;
}

table.is_sortable thead th {
	background-color: lightgray;
}
