{% extends 'base.html' %}

{% block content %}
    <h2>Adress-Liste</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>Stadt</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Max Mustermann</td>
                <td>Musterstraße 1</td>
                <td>Musterstadt</td>
            </tr>
            <tr>
                <td>Erika Mustermann</td>
                <td>Musterweg 2</td>
                <td>Musterstadt</td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>Example Street 3</td>
                <td>Example City</td>
            </tr>
        </tbody>
    </table>
{% endblock %}