{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Adressen Orte</h1>
    <div class="form">
        <form action="{{ url_for('adress_orte_liste') }}" method="POST">
            <input type="text" name="search_criteria" id="search_criteria" value="{{ search_criterium }}">
            <input type="submit" value="suchen"> ({{ rec_found }})
        </form>
        <br/>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Strasse</th>
            <th scope="col">Ort_ID</th>
            <th scope="col">PLZ</th>
            <th scope="col">Ort</th>
            <th scope="col"><a href="{{ url_for('show_new_single_adresse') }}" class="btn btn-danger">New</a></th>
        </tr>
        </thead>
                <tbody>
        {% for addr_ort in result_liste %}
        {% if addr_ort.Politisch_Wangen != 1 %}
            <tr class="dead_person">
            {% else %}
            <tr>
            {% endif %}
                <td><a href="{{ url_for('adresse_orte_details') }}?id={{ addr_ort.ID }}">{{ addr_ort.ID }}</a></td>
                <!-- <td>{{ addr_ort.ID }}</a></td> -->
                <td>{{ addr_ort.Strassen_Adresse }}</td>
                <td>{{ addr_ort.Ort_ID }}</td>
                <td>{{ addr_ort.PLZ }}</td>
                <td>{{ addr_ort.Ort }}</td>
                <td><a href="{{ url_for('show_modify_single_address_ort') }}?id={{ addr_ort.ID }}" class="btn btn-danger">Modify</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
