{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Neue Adresse</h1>

    <br/>
    <form id="updateForm" method="post" action="{{ url_for('execute_insert_adresse') }}">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Strasse" class="col-form-label">Strasse:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Strasse" name="Strasse" maxlength="45" value="{{ details.Strasse }}" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="Strasse" class="col-form-label">Nummer:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Hausnummer" name="Hausnummer" maxlength="15" value="{{ details.Hausnummer }}" onchange="markChangedFields()">
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="Strasse" class="col-form-label">Ort_ID:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Ort_ID" name="Ort_ID" maxlength="5" value="{{ details.Ort_ID }}" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="Politisch_Wangen" class="col-form-label">Politisch_Wangen:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Politisch_Wangen" name="Politisch_Wangen" maxlength="1" value="{{ details.Politisch_Wangen }}" onchange="markChangedFields()" required>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Neue Adresse speichern</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

    <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateValues() {
            submitForm()
        }
    </script>
</div>
{% endblock %}
