<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- andere Header-Elemente -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      /* Custom CSS */
      .dead_person {
        background-color: #ffeeba;
        color: #ff3545;
      }

      .full_quali_buerger {
        background-color: #ffffff;
        color: #00ff00;
      }

      .nutzungsberechtigt_only_buerger {
        background-color: #ffff00;
        color: #00ff00;
      }

      .changed {
            background-color: #FFFFA2;
        }
    </style>
</head>
<body>

<!-- Menubar -->
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.genossame-wangen.ch">
        <img src="https://www.peterliwiese.ch/img/Logo_Genossame.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://sqlkunden04.kunden.local:8080" target="_new">Produktives Intranet</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Körperschaften von Wangen
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://www.wangensz.ch"  target="_new">Gemeinde Wangen</a>
                    <a class="dropdown-item" href="https://www.korporation-wangen.ch/"  target="_new">Korporation Wangen</a>
                </div>
            </li>
            {% if 'user_name' in session %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarIntern" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Intranet
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarIntern">
                    {% if db.has_user_granted_for_right(application='Admin', requested_rights='x', user_id=session['user_id'], priviliges=session['user_priv']) %}
                    <a class="nav-link" href="{{ url_for('exec_important_db_updates') }}">Exec_DB_verifications</a>
                    <a class="nav-link" href="{{ url_for('passwort_liste') }}">Berechtigungen</a>
                    {% endif %}
                    <a class="nav-link" href="{{ url_for('adress_liste') }}">Personen</a>
                    <a class="nav-link" href="{{ url_for('adress_orte_liste') }}" target="_new">Adressen-Orte</a>
                    <a class="nav-link" href="{{ url_for('orte_liste') }}" target="_new">Orte</a>
                </div>
            </li>
            {% endif %}
        </ul>
        {% if 'user_name' in session %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarLogoutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session['user_name'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarLogoutDropdown">
                <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
            </div>
        </li>
        {% else %}
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#loginModal">Einloggen</button>
        </form>
        {% endif %}
    </div>
</header>

<!-- Login Pop_Up -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <label for="email">E-Mail-Adresse</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button> -->
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </form>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('registration') }}">Registrieren?</a>
                <a href="{{ url_for('password_reset') }}">Passwort vergessen?</a>
            </div>
        </div>
    </div>
</div>

<!-- Logout Pop_Up -->
<div id="logoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Möchten Sie sich wirklich ausloggen?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ url_for('logout') }}">
                    <button type="submit" class="btn btn-primary">Logout</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Eingeloggt bleiben</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}
</body>
</html>

