{% extends "base.html" %}

{% block content %}

<h1> Kontaktseite </h1>
    <div id="contact">
    <table>
        <tr>
            <th>Name</th>
            <td>Walter Rothlin</td>
        </tr>
        <tr>
            <th>E-Mail</th>
            <td>Walter@Rothlin.com</td>
        </tr>
        <tr>
            <th>Telefon</th>
            <td>+41 79 368 94 22</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>Peterliwiese 33, 8855 Wangen</td>
        </tr>
    </table>
</div>

{% endblock %}
