{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h2>{{ details.Kommissionsname }} {{ details.Vorname_Familienname }} </h2>

    <form id="updateForm" method="post" action="{{ url_for('execute_update_grpdivision') }}">
        <INPUT TYPE="HIDDEN" NAME="OLD_ID" VALUE="{{ details.ID }}">
        <INPUT TYPE="HIDDEN" NAME="OLD_K_ID" VALUE="{{ details.K_ID }}">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="kid" class="col-form-label">Kommission ID:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="kid" name="K_ID" maxlength="5" value="{{ details.K_ID }}" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="pid" class="col-form-label">Personen ID:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="pid" name="pid" maxlength="5" value="{{ details.ID }}" onchange="markChangedFields()" required>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Funktion" class="col-form-label">Funktion:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Funktion" name="Funktion" maxlength="35" value="{{ details.Funktion }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Member_ab" class="col-form-label">Mitglied seit:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Member_ab" name="Member_ab" maxlength="10" value="{{ details.Member_Ab }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Member_Bis" class="col-form-label">Mitglied bis:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Member_Bis" name="Member_Bis" maxlength="10" value="{{ details.Member_Bis }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>
        <br/><hr/>
        <button type="submit" class="btn btn-primary">&Auml;nderungen speichern</button>
        <!-- <button type="button" class="btn btn-primary" onclick="updateValues()">&Auml;nderungen speichern</button> -->
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

        <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateValues() {
            submitForm()
        }
    </script>
</div>
{% endblock %}
