{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h2>{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h2>

    <form id="updateForm" method="post" action="{{ url_for('execute_update_iban_telnr_email') }}">
        <INPUT TYPE="HIDDEN" NAME="Pers_ID" VALUE="{{ details.ID }}">
        <INPUT TYPE="HIDDEN" NAME="Change_Type" VALUE="{{ change_type }}">

    {% if change_type == 'email' %}
        <INPUT TYPE="HIDDEN" NAME="ID" VALUE="{{ email_details[0]['ID'] }}">
        <!-- eMail_ID: {{ email_details[0]['ID'] }} -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="eMail" class="col-form-label">e-Mail Adresse:</label>
                <input type="text" class="form-control" id="eMail" name="eMail" maxlength="500" value="{{ email_details[0]['eMail'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-1">
                <label for="Prio_eMail" class="col-form-label">Priorität:</label>
                <input type="text" class="form-control" id="Prio_eMail" name="Prio" maxlength="500" value="{{ email_details[0]['Prio'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-2">
                <label for="Type_eMail" class="col-form-label">Type:</label>
                <input type="text" class="form-control" id="Type_eMail" name="Type" maxlength="500" value="{{ email_details[0]['Type'] }}" onchange="markChangedFields()" >
            </div>
        </div>
    {% endif %}

    {% if change_type == 'telnr' %}
        <INPUT TYPE="HIDDEN" NAME="ID" VALUE="{{ telnr_details[0]['ID'] }}">
        <!-- TelNr_ID: {{ telnr_details[0]['ID'] }} -->
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="Laendercode" class="col-form-label">Laendercode:</label>
                <input type="text" class="form-control" id="Laendercode" name="Laendercode" maxlength="500" value="{{ telnr_details[0]['Laendercode'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-1">
                <label for="Vorwahl" class="col-form-label">Vorwahl:</label>
                <input type="text" class="form-control" id="Vorwahl" name="Vorwahl" maxlength="500" value="{{ telnr_details[0]['Vorwahl'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-2">
                <label for="Tel_Nummer" class="col-form-label">Type:</label>
                <input type="text" class="form-control" id="Tel_Nummer" name="Nummer" maxlength="500" value="{{ telnr_details[0]['Nummer'] }}" onchange="markChangedFields()" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="Prio_telnr" class="col-form-label">Prio:</label>
                <input type="text" class="form-control" id="Prio_telnr" name="Prio" maxlength="500" value="{{ telnr_details[0]['Prio'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-1">
                <label for="Type_telnr" class="col-form-label">Type:</label>
                <input type="text" class="form-control" id="Type_telnr" name="Type" maxlength="500" value="{{ telnr_details[0]['Type'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-2">
                <label for="Endgeraet" class="col-form-label">Endgeraet:</label>
                <input type="text" class="form-control" id="Endgeraet" name="Endgeraet" maxlength="500" value="{{ telnr_details[0]['Endgeraet'] }}" onchange="markChangedFields()" >
            </div>
        </div>
    {% endif %}

    {% if change_type == 'iban' %}
        <INPUT TYPE="HIDDEN" NAME="ID" VALUE="{{ iban_details[0]['ID'] }}">
        <!-- IBAN_ID: {{ iban_details[0]['ID'] }} -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Nummer" class="col-form-label">Nummer:</label>
                <input type="text" class="form-control" id="Nummer" name="Nummer" maxlength="500" value="{{ iban_details[0]['Nummer'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-1">
                <label for="Prio_iban" class="col-form-label">Prio:</label>
                <input type="text" class="form-control" id="Prio_iban" name="Prio" maxlength="500" value="{{ iban_details[0]['Prio'] }}" onchange="markChangedFields()" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Bankname" class="col-form-label">Nummer:</label>
                <input type="text" class="form-control" id="Bankname" name="Bankname" maxlength="500" value="{{ iban_details[0]['Bankname'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-2">
                <label for="Bankort" class="col-form-label">Bankort:</label>
                <input type="text" class="form-control" id="Bankort" name="Bankort" maxlength="500" value="{{ iban_details[0]['Bankort'] }}" onchange="markChangedFields()" >
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="Bezeichnung" class="col-form-label">Bezeichnung:</label>
                <input type="text" class="form-control" id="Bezeichnung" name="Bezeichnung" maxlength="500" value="{{ iban_details[0]['Bezeichnung'] }}" onchange="markChangedFields()" >
            </div>
            <div class="form-group col-md-3">
                <label for="Lautend_auf" class="col-form-label">Lautend_auf:</label>
                <input type="text" class="form-control" id="Lautend_auf" name="Lautend_auf" maxlength="500" value="{{ iban_details[0]['Lautend_auf'] }}" onchange="markChangedFields()" >
            </div>
        </div>
    {% endif %}

        <br/><hr/>
        <button type="submit" class="btn btn-primary">&Auml;nderungen speichern</button>
        <!-- <button type="button" class="btn btn-primary" onclick="updateValues()">&Auml;nderungen speichern</button> -->
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

        <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateValues() {
            submitForm()
        }
    </script>
    {% endblock %}
