{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h2>{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h2>

    {% if change_type == 'email' %}
            <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">eMail Adresse</th>
                <th scope="col">Priority</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=email&pid={{ details.ID }}" class="btn btn-danger">New</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_email_detail in email_details %}
            <tr><td>{{ a_email_detail["ID"] }}</td><td>{{ a_email_detail["email"] }}</td><td>{{ a_email_detail["Prio"] }}</td><td>{{ a_email_detail["Type"] }}</td>
                <td><a href="" class="btn btn-danger">Delete</a></td><td><a href="{{ url_for('iban_telnr_email_Change') }}?change_type=email&pid={{ details.ID }}&id={{ a_email_detail['ID'] }}" class="btn btn-danger">Aendern</a></td></tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if change_type == 'telnr' %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Landcode</th>
                <th scope="col">Vorwahl</th>
                <th scope="col">Nummer</th>
                <th scope="col">Priorität</th>
                <th scope="col">Type</th>
                <th scope="col">Endgerät</th>
                <th scope="col">Action</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=telnr&pid={{ details.ID }}" class="btn btn-danger">New</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_telnr_detail in telnr_details %}
            <tr><td>{{ a_telnr_detail["ID"] }}</td><td>{{ a_telnr_detail["Laendercode"] }}</td><td>{{ a_telnr_detail["Vorwahl"] }}</td><td>{{ a_telnr_detail["Nummer"] }}</td><td>{{ a_telnr_detail["Prio"] }}</td><td>{{ a_telnr_detail["Type"] }}</td><td>{{ a_telnr_detail["Endgeraet"] }}</td>
                <td><a href="" class="btn btn-danger">Delete</a></td><td><a href="{{ url_for('iban_telnr_email_Change') }}?change_type=telnr&pid={{ details.ID }}&id={{ a_telnr_detail['ID'] }}" class="btn btn-danger">Aendern</a></td></tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if change_type == 'iban' %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">IBAN</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Bankname</th>
                <th scope="col">Bankort</th>
                <th scope="col">Lautend auf</th>
                <th scope="col">Priorität</th>
                <th scope="col">Action</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=iban&pid={{ details.ID }}" class="btn btn-danger">New</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_iban_detail in iban_details %}
            <tr><td>{{ a_iban_detail["ID"] }}</td><td>{{ a_iban_detail["Nummer"] }}</td><td>{{ a_iban_detail["Bezeichnung"] }}</td><td>{{ a_iban_detail["Bankname"] }}</td><td>{{ a_iban_detail["Bankort"] }}</td><td>{{ a_iban_detail["Lautend_auf"] }}</td><td>{{ a_iban_detail["Prio"] }}</td>
                <td><a href="" class="btn btn-danger">Delete</a></td><td><a href="{{ url_for('iban_telnr_email_Change') }}?change_type=iban&pid={{ details.ID }}&id={{ a_iban_detail['ID'] }}" class="btn btn-danger">Aendern</a></td></tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}

{% endblock %}
