{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h1>Personen mit Passwörtern</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Anrede</th>
            <th scope="col">Vorname</th>
            <th scope="col">Familienname</th>
            <th scope="col">Passwort (Hash)</th>
            <th scope="col">User_Name</th>
            <!-- <th scope="col">Action</th> -->
            <th scope="col"><a href="{{ url_for('show_new_password') }}" class="btn btn-danger">Password re-setzen</a></th>
        </tr>
        </thead>
        <tbody>
        {% for addr in result_liste %}
        {% if addr.Zivilstand == 'Gestorben' %}
            <tr class="dead_person">
                <td><a href="{{ url_for('personen_details') }}?pid={{ addr.ID }}">{{ addr.ID }}</a></td>
                <td>{{ addr.Geschlecht }}</td>
                <td>{{ addr.Vorname_Initial }}</td>
                <td>{{ addr.Familien_Name }}</td>
                <td>{{ addr.Password[0:10] }}</td>
                <td>{{ addr.eMail }}</td>
            {% elif addr.Kategorien is not none and ('Verwaltungsberechtigt' in addr.Kategorien and 'Nutzungsberechtigt' in addr.Kategorien) %}
                <tr>
                    <td><a href="{{ url_for('personen_details') }}?pid={{ addr.ID }}">{{ addr.ID }}</a></td>
                    <td>{{ addr.Geschlecht }}</td>
                    <td  class="full_quali_buerger">{{ addr.Vorname_Initial }}</td>
                    <td  class="full_quali_buerger">{{ addr.Familien_Name }}</td>
                    <td>{{ addr.Password[0:10] }}</td>
                    <td>{{ addr.eMail }}</td>
            {% elif addr.Kategorien is not none and ('Nutzungsberechtigt' in addr.Kategorien) %}
                    <td><a href="{{ url_for('personen_details') }}?pid={{ addr.ID }}">{{ addr.ID }}</a></td>
                    <td>{{ addr.Geschlecht }}</td>
                    <td class="nutzungsberechtigt_only_buerger">{{ addr.Vorname_Initial }}</td>
                    <td class="nutzungsberechtigt_only_buerger">{{ addr.Familien_Name }}</td>
                    <td>{{ addr.Password[0:10] }}</td>
                    <td>{{ addr.eMail }}</td>
            {% else %}
                <tr>
                    <td><a href="{{ url_for('personen_details') }}?pid={{ addr.ID }}">{{ addr.ID }}</a></td>
                    <td>{{ addr.Geschlecht }}</td>
                    <td>{{ addr.Vorname_Initial }}</td>
                    <td>{{ addr.Familien_Name }}</td>
                    <td>{{ addr.Password[0:10] }}</td>
                    <td>{{ addr.eMail }}</td>
            {% endif %}
                    <!-- <td><a href="{{ url_for('delete_single_person') }}?pid={{ addr.ID }}" class="btn btn-danger">>Delete<</a></td> -->
                    <!-- <td><a href="{{ url_for('show_modify_single_person') }}?pid={{ addr.ID }}" class="btn btn-danger">>Priviliges></a></td> -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
