{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Für Person initial Passwort setzen</h1>

    <br/>
    <form id="updateForm" method="post" action="{{ url_for('execute_insert_password') }}">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="Personen_ID" class="col-form-label">Personen ID:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Personen_ID" name="Personen_ID" maxlength="5" value="" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="Password" class="col-form-label">Password:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Password" name="Password" maxlength="20" value="" onchange="markChangedFields()" required>
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Default Passwort speichern</button>
        <!-- <button type="button" class="btn btn-primary" onclick="updateValues()">&Auml;nderungen speichern</button> -->
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

    <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateValues() {
            // Get values from the form
            var anrede = document.getElementById("anrede").value;
            var firstName = document.getElementById("firstName").value;
            var ledigName = document.getElementById("ledigName").value;
            var partnerName = document.getElementById("partnerName").value;


            // Perform the update or send values to the server using AJAX
            // For simplicity, this example just logs the values to the console
            console.log("Updating values:");
            console.log("Vorname: " + firstName);
            console.log("Ledig Name: " + ledigName);
            console.log("Partner Name: " + partnerName);
            console.log("Partner Name Angenommen: " + partnerNameAngenommen);

            // You can add further logic here to update values in the database or perform other actions
            submitForm()

            // Mark changed input fields with a red background
            // markChangedFields();
        }

        var defaultValues = {};

        function markChangedFields(element) {
            // Get all input elements in the form
            var fieldId = element.id;
            var inputElements = document.querySelectorAll('#updateForm input');
            console.log(inputElements)

            // Loop through each input element
            inputElements.forEach(function (element) {
                console.log(element, element.defaultValue, '-->', element.value)
                if (element.defaultValue !== element.value) {
                    element.classList.add('changed');
                } else {
                    element.classList.remove('changed');
                }
            });
        }

        function submitForm() {
            // Get values from the form
            var anrede = document.getElementById("anrede").value;
            var vorname = document.getElementById("vorname").value;
            // Add other fields as needed...

            // Prepare the data to be sent in the PUT request
            var data = {
                anrede: anrede,
                vorname: vorname,
                // Add other fields as needed...
            };

            // Make a PUT request using the fetch API
            fetch('/update/details', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Update successful:', data);
            })
            .catch(error => {
                console.error('Error during update:', error);
            });
        }
    </script>
</div>
{% endblock %}