{% extends 'base.html' %}

{% block content %}
<div class="container">

    <form id="updateForm" method="post" action="{{ url_for('execute_update_person_details') }}">
        <button type="submit" class="btn btn-primary"><-- Back</button>
        {% if details.Zivilstand == 'Gestorben' %}
            <h1  class="dead_person">{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h1>
        {% elif details.Kategorien is not none and ('Verwaltungsberechtigt' in details.Kategorien and 'Nutzungsberechtigt' in details.Kategorien) %}
            <h1  class="full_quali_buerger">{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h1>
        {% elif details.Kategorien is not none and ('Nutzungsberechtigt' in details.Kategorien) %}
            <h1  class="nutzungsberechtigt_only_buerger">{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h1>
        {% else %}
            <h1>{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h1>
        {% endif %}

        <!-- <h1>{{ details.ID }} {{ details.Anrede_Long_Long }} {{ details.Geburtstag }}</h1> -->
        <br/>
        <INPUT TYPE="HIDDEN" NAME="ID" VALUE="{{ details.ID }}">
        <br/><hr/><h3>Grunddaten:</h3>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="geschlecht" class="col-form-label">Geschlecht:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="geschlecht" name="Sex" maxlength="5" value="{{ details.Geschlecht }}" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="vorname" class="col-form-label">Vorname:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="vorname" name="Vorname" maxlength="45" value="{{ details.Vorname }}" onchange="markChangedFields()" required>
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="vorname_2" class="col-form-label">2.Vorname:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="vorname_2" name="Vorname_2" maxlength="45" value="{{ details.Vorname_2 }}" onchange="markChangedFields()">
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="ledig_name" class="col-form-label">Ledig Name:</label>
                <input type="text" class="form-control" id="ledig_name" name="Ledig_Name" maxlength="45" value="{{ details.Ledig_Name }}" onchange="markChangedFields()" required>
            </div>
            <div class="form-group col-md-2">
                <label for="partner_name" class="col-form-label">Partner Name:</label>
                <input type="text" class="form-control" id="partner_name" name="Partner_Name" maxlength="45" value="{{ details.Partner_Name }}" onchange="markChangedFields()">
            </div>
            <div class="form-group col-md-3">
                <label for="partner_name_angenommen" class="col-form-label">Partner Name angenommen:</label>
                <input type="text" class="form-control" id="partner_name_angenommen" name="Partner_Name_Angenommen" maxlength="1" value="{{ details.Partner_Name_Angenommen }}" onchange="markChangedFields()" required>
            </div>
        </div>


        <BR/><BR/>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">eMail Adresse</th>
                <th scope="col">Priority</th>
                <th scope="col">Type</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=email&pid={{ details.ID }}" class="btn btn-danger">Modify</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_email_detail in email_details %}
            <tr><td>{{ a_email_detail["ID"] }}</td><td>{{ a_email_detail["email"] }}</td><td>{{ a_email_detail["Prio"] }}</td><td>{{ a_email_detail["Type"] }}</td></tr>
        {% endfor %}
            </tbody>
        </table>


        <BR/><BR/>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Landcode</th>
                <th scope="col">Type</th>
                <th scope="col">Vorwahl</th>
                <th scope="col">Nummer</th>
                <th scope="col">Priorität</th>
                <th scope="col">Endgerät</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=telnr&pid={{ details.ID }}" class="btn btn-danger">Modify</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_telnr_detail in telnr_details %}
            <tr><td>{{ a_telnr_detail["ID"] }}</td><td>{{ a_telnr_detail["Laendercode"] }}</td><td>{{ a_telnr_detail["Vorwahl"] }}</td><td>{{ a_telnr_detail["Nummer"] }}</td><td>{{ a_telnr_detail["Prio"] }}</td><td>{{ a_telnr_detail["Type"] }}</td><td>{{ a_telnr_detail["Endgeraet"] }}</td></tr>
        {% endfor %}
            </tbody>
        </table>


        <BR/><BR/>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">IBAN</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Bankname</th>
                <th scope="col">Bankort</th>
                <th scope="col">Lautend auf</th>
                <th scope="col">Priorität</th>
                <th scope="col"><a href="{{ url_for('show_modify_iban_telnr_email') }}?change_type=iban&pid={{ details.ID }}" class="btn btn-danger">Modify</a></th>
            </tr>
            </thead>
            <tbody>
        {% for a_iban_detail in iban_details %}
            <tr><td>{{ a_iban_detail["ID"] }}</td><td>{{ a_iban_detail["Nummer"] }}</td><td>{{ a_iban_detail["Bezeichnung"] }}</td><td>{{ a_iban_detail["Bankname"] }}</td><td>{{ a_iban_detail["Bankort"] }}</td><td>{{ a_iban_detail["Lautend_auf"] }}</td><td>{{ a_iban_detail["Prio"] }}</td></tr>
        {% endfor %}
            </tbody>
        </table>


        <BR/><BR/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Privat_Adressen_ID" class="col-form-label">Private Adressen ID: {% if details.Privat_Adressen_ID  != None and details.Privat_Adressen_ID  != '' %} [<B>{{ details.Private_Strasse }}, {{ details.Private_PLZ_International }} {{ details.Private_Ort }}</B>]{% endif %}:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Privat_Adressen_ID" name="Privat_Adressen_ID" maxlength="5" value="{{ details.Privat_Adressen_ID }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="kategorien" class="col-form-label">Kategorien:</label>
                <input type="text" class="form-control" id="kategorien" name="Kategorien" maxlength="500" value="{{ details.Kategorien }}" onchange="markChangedFields()" >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="zivilstand" class="col-form-label">Zivilstand:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="zivilstand" name="Zivilstand" maxlength="50" value="{{ details.Zivilstand }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="AHV_Nr" class="col-form-label">AHV_Nr:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="AHV_Nr" name="AHV_Nr" maxlength="50" value="{{ details.AHV_Nr }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="geburtstag" class="col-form-label">Geburtsdatum:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="geburtstag" name="Geburtstag" maxlength="10" value="{{ details.Geburtstag }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="todestag" class="col-form-label">Todestag:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="todestag" name="Todestag" maxlength="10" value="{{ details.Todestag }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="history" class="col-form-label">History:</label>
                <input type="text" class="form-control" id="history" name="History" maxlength="500" value="{{ details.History }}" onchange="markChangedFields()" >
            </div>

            <div class="form-group col-md-4">
                <label for="bemerkungen" class="col-form-label">Bemerkungen:</label>
                <input type="text" class="form-control" id="bemerkungen" name="Bemerkungen" maxlength="500" value="{{ details.Bemerkungen }}" onchange="markChangedFields()" >
            </div>

        </div>

        <br/><hr/><h3>Umzüge:</h3>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="Nach_Wangen_Gezogen" class="col-form-label">Zuzug nach Wangen:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Nach_Wangen_Gezogen" name="Nach_Wangen_Gezogen" maxlength="10" value="{{ details.Nach_Wangen_Gezogen }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="Von_Wangen_Weggezogen" class="col-form-label">Wegzug von Wangen:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Von_Wangen_Weggezogen" name="Von_Wangen_Weggezogen" maxlength="10" value="{{ details.Von_Wangen_Weggezogen }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <br/><hr/><h3>Bestellungen:</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Chronik_Bezogen_Am" class="col-form-label">Chronik bezogen am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Chronik_Bezogen_Am" name="Chronik_Bezogen_Am" maxlength="10" value="{{ details.Chronik_Bezogen_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Newsletter_Abonniert_Am" class="col-form-label">Newsletter abonniert am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Newsletter_Abonniert_Am" name="Newsletter_Abonniert_Am" maxlength="10" value="{{ details.Newsletter_Abonniert_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <br/><hr/><h3>Bewirtschafter Details:</h3>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="Betriebs_Nr" class="col-form-label">Betriebs_Nr:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Betriebs_Nr" name="Betriebs_Nr" maxlength="50" value="{{ details.Betriebs_Nr }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="SAK" class="col-form-label">SAK:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="SAK" name="SAK" maxlength="50" value="{{ details.SAK }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <br/><hr/><h3>Bürger Aufnahme:</h3>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Baulandgesuch_Eingereicht_Am" class="col-form-label">Baulandgesuch eingereicht:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Baulandgesuch_Eingereicht_Am" name="Baulandgesuch_Eingereicht_Am" maxlength="10" value="{{ details.Baulandgesuch_Eingereicht_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Bauland_Gekauft_Am" class="col-form-label">Bauland gekauft:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Bauland_Gekauft_Am" name="Bauland_Gekauft_Am" maxlength="10" value="{{ details.Bauland_Gekauft_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="Baulandgesuch_Details" class="col-form-label">Bauland Details:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Baulandgesuch_Details" name="Baulandgesuch_Details" maxlength="10" value="{{ details.Baulandgesuch_Details }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Angemeldet_Am" class="col-form-label">Angemeldet am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Angemeldet_Am" name="Angemeldet_Am" maxlength="10" value="{{ details.Angemeldet_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Aufnahme_Gebühr_bezahlt_Am" class="col-form-label">Aufnahmegebür bezahlt am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Aufnahme_Gebühr_bezahlt_Am" name="Aufnahme_Gebühr_bezahlt_Am" maxlength="10" value="{{ details.Aufnahme_Gebühr_bezahlt_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Bezahlte_Aufnahme_Gebühr" class="col-form-label">Bezahlte Aufnahme Gebühr:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Bezahlte_Aufnahme_Gebühr" name="Bezahlte_Aufnahme_Gebühr" maxlength="10" value="{{ details.Bezahlte_Aufnahme_Gebühr }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Aufgenommen_Am" class="col-form-label">Aufgenommen am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Aufgenommen_Am" name="Aufgenommen_Am" maxlength="10" value="{{ details.Aufgenommen_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Sich_Für_Bürgertag_Angemeldet_Am" class="col-form-label">Für Bürgertag angemeldet am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Sich_Für_Bürgertag_Angemeldet_Am" name="Sich_Für_Bürgertag_Angemeldet_Am" maxlength="10" value="{{ details.Sich_Für_Bürgertag_Angemeldet_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Sich_Für_Bürgertag_definitiv_abgemeldet_am" class="col-form-label">Für Bürgertag abgemeldet am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Sich_Für_Bürgertag_definitiv_abgemeldet_am" name="Sich_Für_Bürgertag_definitiv_abgemeldet_am" maxlength="10" value="{{ details.Sich_Für_Bürgertag_definitiv_abgemeldet_am }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Neubürgertag_gemacht_Am" class="col-form-label">Neubürgertag gemacht am:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Neubürgertag_gemacht_Am" name="Neubürgertag_gemacht_Am" maxlength="10" value="{{ details.Neubürgertag_gemacht_Am }}" onchange="markChangedFields()" >
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="Ausbezahlter_Bürgertaglohn" class="col-form-label">Ausbezahlter Bürgerlohn:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Ausbezahlter_Bürgertaglohn" name="Ausbezahlter_Bürgertaglohn" maxlength="10" value="{{ details.Ausbezahlter_Bürgertaglohn }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>


        <br/><hr/><h3>Stammbaum:</h3>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="partner_id" class="col-form-label">Partner_ID {% if details.Partner_Reference  != None and details.Partner_Reference  != '' %} [<B>{{ details.Partner_Reference }}</B>]{% endif %}:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="partner_id" name="Partner_ID" maxlength="5" value="{{ details.Partner_ID }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="vater_id" class="col-form-label">Vater_ID {% if details.Vater_Reference  != None and details.Vater_Reference  != '' %} [<B>{{ details.Vater_Reference }}</B>]{% endif %}:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="vater_id" name="Vater_ID" maxlength="5" value="{{ details.Vater_ID }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="mutter_id" class="col-form-label">Mutter_ID {% if details.Mutter_Reference  != None and details.Mutter_Reference  != '' %} [<B>{{ details.Mutter_Reference }}</B>]{% endif %}:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="mutter_id" name="Mutter_ID" maxlength="5" value="{{ details.Mutter_ID }}" onchange="markChangedFields()" >
                </div>
            </div>
        </div>
        <br/><hr/>
        <button type="submit" class="btn btn-primary"><-- Back</button>
        <button type="submit" class="btn btn-primary">&Auml;nderungen speichern</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
    </form>

    <!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function updateValues() {
            // Get values from the form
            var anrede = document.getElementById("anrede").value;
            var firstName = document.getElementById("firstName").value;
            var ledigName = document.getElementById("ledigName").value;
            var partnerName = document.getElementById("partnerName").value;
            var partnerNameAngenommen = document.getElementById("partnerNameAngenommenYes").checked ? "Yes" : "No";
            var Kategorie_Buerger = document.getElementById("Kategorie_Buerger").checked;
            var Kategorie_Nutzungsberechtigt = document.getElementById("Kategorie_Nutzungsberechtigt").checked;
            var Kategorie_Verwaltungsberechtigt = document.getElementById("Kategorie_Verwaltungsberechtigt").checked;
            var dob = document.getElementById("dob").value;

            // Perform the update or send values to the server using AJAX
            // For simplicity, this example just logs the values to the console
            console.log("Updating values:");
            console.log("Anrede: " + anrede);
            console.log("Vorname: " + firstName);
            console.log("Ledig Name: " + ledigName);
            console.log("Partner Name: " + partnerName);
            console.log("Partner Name Angenommen: " + partnerNameAngenommen);
            console.log("Kategorie Bürger: " + Kategorie_Buerger);
            console.log("Kategorie Nutzungsberechtigt: " + Kategorie_Nutzungsberechtigt);
            console.log("Kategorie Verwaltungsberechtigt: " + Kategorie_Verwaltungsberechtigt);
            console.log("Geburtsdatum: " + dob);

            // You can add further logic here to update values in the database or perform other actions
            submitForm()

            // Mark changed input fields with a red background
            // markChangedFields();
        }

        var defaultValues = {};

        function markChangedFields(element) {
            // Get all input elements in the form
            var fieldId = element.id;
            var inputElements = document.querySelectorAll('#updateForm input');
            console.log(inputElements)

            // Loop through each input element
            inputElements.forEach(function (element) {
                console.log(element, element.defaultValue, '-->', element.value)
                if (element.defaultValue !== element.value) {
                    element.classList.add('changed');
                } else {
                    element.classList.remove('changed');
                }
            });
        }

        function submitForm() {
            // Get values from the form
            var anrede = document.getElementById("anrede").value;
            var vorname = document.getElementById("vorname").value;
            // Add other fields as needed...

            // Prepare the data to be sent in the PUT request
            var data = {
                anrede: anrede,
                vorname: vorname,
                // Add other fields as needed...
            };

            // Make a PUT request using the fetch API
            fetch('/update/details', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Update successful:', data);
            })
            .catch(error => {
                console.error('Error during update:', error);
            });
        }
    </script>
</div>
{% endblock %}