{% extends "base.html" %}

{% block content %}
<h1>Adress-Liste</h1>
<p>Dies ist die Adressliste, die nur nach einem erfolgreichen Login sichtbar ist.</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Adresse</th>
            <th>Telefon</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Maria La Bleu</td>
            <td>45 Rue de Paris, 110 Osmanwui</td>
            <td>+47 111 222 333</td>
            <td>marialebleu@france.fr</td>
        </tr>
            <tr>
            <td>Günther Staumann</td>
            <td>Potsdammerstrasse 14, 1313 Schweinsheim</td>
            <td>+49 123 456 7890</td>
            <td>guentherguenther@deutschemail.de</td>
        </tr>
            <tr>
            <td>Sophia Silicka</td>
            <td>Unterer Dammweg 22, 45789 Bassstadt</td>
            <td>+49 124 556 998</td>
            <td>sophi97@gowiththeflow.com</td>
        </tr>
            <tr>
            <td>Gavin Nivag</td>
            <td>WegvonLager Strasse 17, 4056 Basel</td>
            <td>+41 78 456 55 22</td>
            <td>checkmeck@allstarsswitzerland.ch</td>
        </tr>
    </tbody>
</table>
{% endblock %}
