{% extends "base.html" %}

{% block content %}
<h1>Willkommen zu Gavins Prüfungsabgabe</h1>
<p>Hier steht wichtiger Content, der gemäss Anforderungen auch hier stehen muss, jedoch keinen wirklichen Inhalt hat.</p>


<h2>Funktionen der Web-Applikation</h2>
<ul>
    <li><strong>Home:</strong> Startseite.</li>
    <li><strong>Kontakt:</strong> Wie du uns kontaktieren kannst.</li>
    <li><strong>Login:</strong> Möglichkeit, sich mit einer E-Mail-Adresse und einem Passwort anzumelden, das Passwort zurückzusetzen oder sich neu zu registrieren.</li>
    <li><strong>Adress-Liste:</strong> Eine Seite mit einer Tabelle fiktiver Adressen (nur nach Login sichtbar).</li>
</ul>
{% endblock %}
