{% extends "base.html" %}
<!-- Kontakt-Seite: erbt von base.html -->

{% block title %}Kontakt - BWI Solutions AG{% endblock %}

{% block content %}
<h1>Kontakt</h1>
<p>Wir freuen uns, von Ihnen zu hoeren.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <h2>Adresse</h2>
        <address>
            BWI Solutions AG<br>
            Musterstrasse 1<br>
            8000 Zürich<br>
            Schweiz
        </address>
    </div>
    <div class="col-md-6">
        <h2>Erreichbarkeit</h2>
        <p>
            Telefon: +41 44 123 45 67<br>
            E-Mail: info@bwi-solutions.example.com<br>
            Öffnungszeiten: Mo-Fr, 08:00-17:00 Uhr
        </p>
    </div>
</div>
{% endblock %}
