body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

.container {
    max-width: 960px;
    padding: 20px 30px;
}

h1, h2 {
    color: #212529;
}

/* Stile für index.html */
.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 15px;
}

.navbar li a {
    text-decoration: none;
    color: #212529;
    font-weight: 600;
}

/* Stile für kontakt.html */
.contact-info {
    margin-bottom: 20px;
}

/* Stile für login.html */
.login-form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p.error-message {
    color: #dc3545;
    margin-bottom: 10px;
}

/* Stile für adress_liste.html */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    padding: 8px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}