{% extends 'base.html' %}

{% block content %}
    <h1>Adressliste</h1>
    <table>
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Adresse</th>
                <th>Stadt</th>
                <th>PLZ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Michael</td>
                <td>Jackson</td>
                <td>Wallstreet</td>
                <td>Zürich</td>
                <td>8000</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
