{% extends 'base.html' %}


  <!-- ursprüngliche code, wegen Bonus Aufgabe 2 musste ich den code in die base.html nehmen, weil sonst das login nicht mehr mit bootstrap funktioniert

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="email">E-Mail:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Anmelden">
    </form>
{% endblock %}
-->