{% extends "base.html" %}
{% block content %}
    <h1>Adressen</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Strasse</th>
                <th>Hausnummer</th>
                <th>Ort</th>
                <th>PLZ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Färblistrasse</td>
                <td>4</td>
                <td>Näfels</td>
                <td>8752</td>
            </tr>
            <tr>
                <td>Hauptstrasse</td>
                <td>21</td>
                <td>Glarus</td>
                <td>8750</td>
            </tr>
            <tr>
                <td>Mustergasse</td>
                <td>42a</td>
                <td>Klöntal</td>
                <td>8750</td>
            </tr>
            <tr>
                <td>Beispielweg</td>
                <td>117</td>
                <td>Möhlin</td>
                <td>4313</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
