<!DOCTYPE html>
<html lang="en">
    <!--
    Source:https://raw.githubusercontent.com/walter-rothlin/Source-Code/master/Python_WaltisExamples/FLASK/templates/base.html
    -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <HR/>
<h5>Links</h5>
<UL>
    <LI><a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA" _target="_new">Tutorial video FLASK toDo App (47')</A></LI>
    <LI><a href="https://github.com/jakerieger/FlaskIntroduction" _target="_new">Github: Projekt code for toDo App</A></LI>


    <LI><a href="https://www.youtube.com/watch?v=bxhXQG1qJPM" _target="_new">Tutorial video Jinja2 Templates App (17')</A></LI>
    <LI><a href="https://www.sqlalchemy.org/" _target="_new">Tutorial: SQLAlchemy (</A></LI>


</UL>
</body>
</html>