{% extends "base.html" %}

{% block content %}
    <h1>Some addresses</h1>
    <p>
        <table>
            <tr>
                <th>Name Vorname</th>
                <th>Strasse und Nummer</th>
                <th>Stadt</th>
                <th>Land</th>
            </tr>
            <tr>
                <td>Muster Max</td>
                <td>Musterweg 7</td>
                <td>Bassersdorf</td>
                <td>Schweiz</td>
            </tr>
            <tr>
                <td>Bea Beispiel</td>
                <td>Dorfstrasse 11</td>
                <td>Urdorf</td>
                <td>Schweiz</td>
            </tr>
            <tr>
                <td>Marco Yfantis</td>
                <td>Am Stadtrand 11</td>
                <td>Dübendorf</td>
                <td>Schweiz</td>
            </tr>
        </table>
    </p>
{% endblock %}
