{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Mitspieler:innen – Adressliste</h1>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>PLZ</th>
                <th>Ort</th>
                <th>E-Mail</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Max Muster</td><td>Musterstrasse 1</td><td>8000</td><td>Zürich</td><td><a href="mailto:max.muster@hwz.ch">max.muster@hwz.ch</a></td></tr>
            <tr><td>Anna Beispiel</td><td>Beispielweg 5</td><td>3000</td><td>Bern</td><td><a href="mailto:anna.beispiel@hwz.ch">anna.beispiel@hwz.ch</a></td></tr>
            <tr><td>Peter Frei</td><td>Feldstrasse 10</td><td>4051</td><td>Basel</td><td><a href="mailto:peter.frei@hwz.ch">peter.frei@hwz.ch</a></td></tr>
            <tr><td>Sabine Graf</td><td>Hauptweg 7</td><td>6003</td><td>Luzern</td><td><a href="mailto:sabine.graf@hwz.ch">sabine.graf@hwz.ch</a></td></tr>
            <tr><td>Michael Weber</td><td>Seestrasse 20</td><td>6300</td><td>Zug</td><td><a href="mailto:michael.weber@hwz.ch">michael.weber@hwz.ch</a></td></tr>
            <tr><td>Claudia Meier</td><td>Bergweg 3</td><td>7000</td><td>Chur</td><td><a href="mailto:claudia.meier@hwz.ch">claudia.meier@hwz.ch</a></td></tr>
            <tr><td>Thomas Schmid</td><td>Allee 15</td><td>9000</td><td>St. Gallen</td><td><a href="mailto:thomas.schmid@hwz.ch">thomas.schmid@hwz.ch</a></td></tr>
            <tr><td>Nina Keller</td><td>Gartenstrasse 9</td><td>5000</td><td>Aarau</td><td><a href="mailto:nina.keller@hwz.ch">nina.keller@hwz.ch</a></td></tr>
            <tr><td>Daniel Huber</td><td>Sonnenweg 4</td><td>2500</td><td>Biel</td><td><a href="mailto:daniel.huber@hwz.ch">daniel.huber@hwz.ch</a></td></tr>
            <tr><td>Laura Maurer</td><td>Bahnhofstrasse 1</td><td>3600</td><td>Thun</td><td><a href="mailto:laura.maurer@hwz.ch">laura.maurer@hwz.ch</a></td></tr>
            <tr><td>Simon Bär</td><td>Rosenweg 12</td><td>8500</td><td>Frauenfeld</td><td><a href="mailto:simon.baer@hwz.ch">simon.baer@hwz.ch</a></td></tr>
            <tr><td>Monika Roth</td><td>Kanalweg 8</td><td>8200</td><td>Schaffhausen</td><td><a href="mailto:monika.roth@hwz.ch">monika.roth@hwz.ch</a></td></tr>
            <tr><td>Jonas Steiner</td><td>Weinbergstrasse 2</td><td>3900</td><td>Brig</td><td><a href="mailto:jonas.steiner@hwz.ch">jonas.steiner@hwz.ch</a></td></tr>
            <tr><td>Jasmin Vogel</td><td>Obstgartenweg 11</td><td>5400</td><td>Baden</td><td><a href="mailto:jasmin.vogel@hwz.ch">jasmin.vogel@hwz.ch</a></td></tr>
            <tr><td>Fabian Zeller</td><td>Lindenstrasse 6</td><td>5200</td><td>Brugg</td><td><a href="mailto:fabian.zeller@hwz.ch">fabian.zeller@hwz.ch</a></td></tr>
        </tbody>
    </table>
</div>
{% endblock %}
