{% extends "base.html" %}

{% block title %}Address List{% endblock %}

{% block content %}
<h1>Address List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
    </thead>
    <tbody>
        {% for address in addresses %}
        <tr>
            <td>{{ address.name }}</td>
            <td>{{ address.address }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.state }}</td>
            <td>{{ address.zip }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
