{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('register') }}">
    <div class="form-group">
        <label for="salutation">Anrede:</label>
        <select class="form-control" id="salutation" name="salutation">
            <option value="mr">Herr</option>
            <option value="mrs">Frau</option>
        </select>
    </div>
    <div class="form-group">
        <label for="first-name">Vorname:</label>
        <input type="text" class="form-control" id="first-name" name="first_name" required>
    </div>
    <div class="form-group">
        <label for="last-name">Nachname:</label>
        <input type="text" class="form-control" id="last-name" name="last_name" required>
    </div>
    <div class="form-group">
        <label for="register-email">Email:</label>
        <input type="email" class="form-control" id="register-email" name="email" required>
    </div>
    <div class="form-group">
        <label for="register-password">Password:</label>
        <input type="password" class="form-control" id="register-password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
