{% extends "base.html" %}
{% block body %}
    <h1>Kontakt</h1>
    <p>Oh, du möchtest uns kontaktieren?</p>
    <p>Wir sind schließlich so begeistert, von dir zu hören. Es ist nicht so, als ob wir noch hunderte andere Anfragen zu bearbeiten hätten...</p>
    <p>Hier sind unsere Kontaktdaten:</p>
    <ul>
        <li><strong>Email:</strong> JaWirklichWirAntworten@irgendwann.ch</li>
        <p></p>
        <li><strong>Telefon:</strong> 076****(Erwarte nicht, dass wir abnehmen)</li>
    </ul>
    <p>Wir freuen uns darauf, deine Anfrage in der untersten Schublade unseres Schreibtisches zu vergraben.</p>
    <p>Hab einen schönen Tag!</p>
{% endblock %}