{% extends "base.html" %}
{% block body %}
<body>
    <h1>Registrieren</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

         <div style="margin-top: 20px;">
            {{ form.anrede.label }}<br>
            {{ form.anrede() }}<br>
            {% for error in form.anrede.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">
            {{ form.vorname.label }}<br>
            {{ form.vorname(size=50) }}<br>
            {% for error in form.vorname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">
            {{ form.nachname.label }}<br>
            {{ form.nachname(size=50) }}<br>
            {% for error in form.nachname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">
            {{ form.email.label }}<br>
            {{ form.email(size=50) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">
            {{ form.password.label }}<br>
            {{ form.password(size=20) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=20) }}<br>
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div style="margin-top: 20px;">{{ form.submit() }}</div>
    </form>
    <div style="margin-top: 20px;">
        <p>Sie haben bereits ein Konto? <a href="{{ url_for('login1') }}">Login</a></p>
    </div>
</body>
{% endblock %}