{% extends 'base.html' %}

{% block content %}
<!-- Standorte Infos wurden mit ChatGPT generiert-->
<h1>Standorte der HWZ und ZHAW</h1>

<div class="container">
  <table>
    <tr>
      <th>Hochschule</th>
      <th>Standort</th>
      <th>Adresse</th>
    </tr>
    <tr>
      <td>HWZ</td>
      <td>Zürich</td>
      <td>Merkurstrasse 43, 8032 Zürich</td>
    </tr>
    <tr>
      <td>HWZ</td>
      <td>Luzern</td>
      <td>Zentralstrasse 9, 6003 Luzern</td>
    </tr>
    <tr>
      <td>ZHAW</td>
      <td>Winterthur</td>
      <td>St.-Georgen-Platz 2, 8400 Winterthur</td>
    </tr>
    <tr>
      <td>ZHAW</td>
      <td>Wädenswil</td>
      <td>Austrasse 56, 8820 Wädenswil</td>
    </tr>
  </table>
</div>
{% endblock %}