<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>HWZ Flask Test</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'javascriptLibrary/functions.js') }}" ></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   </head>
   <header>
      <h1>Willkommen auf meiner Seite</h1>
      <!--Nav Code zu teilen aus W3Schools übernommen-->
      <div class="navbar">
         <a href="{{ url_for('index') }}">Home</a>
         <div class="dropdown">
            <button class="dropbtn">Weitere Optionen
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
               <a href="{{ url_for('kontakt') }}">Kontakt</a>
               {% if dictionary["logged_in"] %}
               <a href="{{ url_for('adress_liste') }}">Adress-Liste</a>
               <a href="#" onclick="openPopupLogout(event)">Logout</a>
               {% else %}
               <a href="#" onclick="openPopupLogin(event)">Login</a>
               {% endif %}
            </div>
         </div>
      </div>
   </header>
   <body>
      {% if dictionary["logged_in"] %}
      <p class="navbar-username">Benutzername: {{ dictionary["email"] }}</p>
      {% endif %}
      <div id="popupWindow" class="popup">
         <form action="{{ url_for('login') }}" method="POST">
            <label for="email">E-Mail:</label>
            <input type="text" name="email" id="email" required>
            <label for="password">Passwort:</label>
            <input type="password" name="password" id="password" required onchange="checkPasswordLength(this.value)">
            <input id="submit" type="submit" value="Login" disabled>
            </br>
            </br>
            <div class="link-container">
               <a href="#" onclick="openPopup(event)">Passwort-Vergessen?</a>
               <br>
               <a href="#" onclick="openPopupRegister(event)">Registrieren</a>
            </div>
         </form>
      </div>
      <div id="passwordLostPopUp" class="popup">
         <form action="{{ url_for('index') }}">
            <label for="email">E-Mail:</label>
            <input type="text" name="email" id="emailPwChange" required>
            <input id="submitPwLost" type="submit" value="Passwort zurücksetzen" onclick="closePopup()">
         </form>
      </div>
      <div id="registerPopUp" class="popup">
         <form action="{{ url_for('index') }}">
            <label for="anrede">Anrede:</label>
            <select id="anrede" name="anrede">
               <option value="Herr">Herr</option>
               <option value="Frau">Frau</option>
            </select>
            </br>
            <label for="vorname">Vorname:</label>
            <input type="text" id="vorname" name="vorname" required>
            <label for="nachname">Nachname:</label>
            <input type="text" id="nachname" name="nachname" required>
            <label for="email">Email-Adresse:</label>
            <input type="email" id="emailNeu" name="email" required>
            </br>
            <label for="passwort">Passwort:</label>
            <input type="password" id="passwort" name="passwort" required>
            <input type="submit" value="Submit">
         </form>
      </div>
      <div id="logoutpopup" class="popup">
         <h2>Wollen Sie sich wirklich ausloggen?</h2>
         <li><a href="{{ url_for('logout') }}">Logout</a></li>
         <li><a href="{{ url_for('index') }}">Eingelogged bleiben</a></li>
      </div>
      {% block content %} {% endblock %}
      <div class="footer">
         <p>&copy; 2023 HWZ. Alle Rechte vorbehalten an Mike Keller.</p>
      </div>
   </body>
</html>