{% extends 'base.html' %}
{% block content %}
<!--Textinhalt von dieser Seite über die HWZ ist mit ChatGPT generiert-->
<div class="container">
   <h1>Willkommen auf der Startseite der Hochschule für Wirtschaft Zürich (HWZ)</h1>
   <p>Die Hochschule für Wirtschaft Zürich (HWZ) ist eine renommierte Bildungseinrichtung in der Schweiz, die sich auf
      Wirtschaft und Management spezialisiert hat. Mit ihrer erstklassigen Ausbildung und praxisorientierten Lehrplänen
      bereitet die HWZ ihre Studierenden optimal auf eine erfolgreiche Karriere im Bereich Wirtschaft vor.
   </p>
   <h2>Studiengänge an der HWZ:</h2>
   <ul>
      <li>Bachelor in Betriebsökonomie</li>
      <li>Master in Business Administration</li>
      <li>Master in Business Innovation</li>
      <li>Master in Digital Business Management</li>
   </ul>
   <h2>Warum HWZ wählen:</h2>
   <ul>
      <li>Praxisnahe Ausbildung mit direktem Bezug zur Wirtschaft</li>
      <li>Erfahrene Dozenten aus der Industrie</li>
      <li>Modernste Ausstattung und Technologie</li>
      <li>Starke Netzwerkmöglichkeiten mit Unternehmen</li>
      <li>Unterstützung bei Praktika und Stellensuche</li>
   </ul>
</div>
{% endblock %}