/*Die Basis des CSS habe ich von Corey Schafer übernommen. https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/snippets/main.css*/

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  padding-top: 56px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #4b0082; /* Dunkelvioletter Hintergrund für die Navbar */
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.content-section {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.invalid-feedback {
  display: block;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.navbar-brand {
  font-size: 1.75rem;
  color: #ffffff !important; /* Titel in Weiß */
  padding-left: 0px; /* Padding für den Titel */
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
}

.navbar-nav .logout-link {
  font-size: 0.875rem; /* Kleinere Schriftgröße für Logout */
  text-decoration: underline; /* Unterstrichen */
  color: #cbd5db; /* Gleiche Farbe wie andere Links */
  align-self: center; /* Vertikal zentrieren */
}

.navbar-nav .logout-link:hover {
  color: #ffffff; /* Weiß beim Hover */
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.table {
  margin-top: 2rem;
}

.table th, .table td {
  text-align: left;
  vertical-align: middle;
}

.navbar-nav.ml-auto .nav-item, .navbar-nav.ml-auto .navbar-text {
  padding-right: 15px;
  align-self: center; /* Vertikal zentrieren */
}

.navbar-right {
  margin-left: 70px; /* Rechtsbündig ausrichten */
  display: flex;
  align-items: center;
}
