{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Adressliste</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Adresse</th>
                    <th>Stadt</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.address }}</td>
                        <td>{{ person.city }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}