<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">



    <title>Flask App</title>
</head>
<body>
    <div>
    <!--        # verwendung von Bootstrap stylesheet, durhc veränderung des classennamens ergeben sich andere templates-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kontakt">Kontakt</a>
                    </li>
                    {% if session['email'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="/adress_liste">Adress-Liste</a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <button onclick="confirmLogout()" class="nav-link">Logout</button>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Weitere Themen
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/impressum">Impressum</a>
                            <a class="dropdown-item" href="/ueber_uns">Über uns</a>
                          </div>
                        </li>
                    {% endif %}
                </ul>
                {% if session['email'] %}
                    <span class="navbar-text">
                        Angemeldet als: {{ session['email'] }}
                    </span>
                {% endif %}
        </nav>
    </div>
    {% block content %}
    {% endblock %}
    <script>
    function confirmLogout() {
      var r = confirm("Sind Sie sicher, dass Sie sich ausloggen möchten?");
      if (r == true) {
        window.location.href = "/logout";
      }
    }
    </script>

        <!-- 2 Skripte gemäss Internet-Recherche leider hat die Implementation jedoch nicht funktioniert -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
</body>
</html>
