{% extends 'base.html' %}

{% block body %}
    	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Adresse</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Jessica Richman</td>
				<td>1 Brainiacs Rd., Earth, 3000</td>
			</tr>
			<tr>
				<td>John Smith</td>
				<td>5 Apex Dr., Mars, 5432</td>
			</tr>
			<tr>
				<td>Danielle Beach</td>
				<td>2 Galaxy St., Venus, 6909</td>
			</tr>
			<tr>
				<td>Tony Valenzuela</td>
				<td>56 Metr Street, Neptune, 8754</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
