<div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>

        <div class="modal-body">
          <form method="POST" action="{{ url_for('login') }}">
            <label for="email">email</label>
            <input type="email" name="email" id="email" required />
            <label for="password">password</label>
            <input type="password" name="password" id="password" minlength="6" required />
            <button type="submit">Submit</button>
          </form>
          <ul>
              <li><a href="{{ url_for('passwortvergessen') }}">Passwort-Vergessen</a></li>
              <li><a href="{{ url_for('registrieren') }}">Registrieren</a></li>
          </ul>
        </div>
      </div>
    </div>



