<div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
        </div>

        <div class="modal-body">
          <p>Willst du dich wirklich ausloggen?</p>
          <ul>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              <li><a href="#" onclick="modal.style.display = 'none'">Eingelogged bleiben</a></li>
          </ul>
        </div>
      </div>
    </div>



