{% extends 'base.html' %}

{% block body %}
    <form method="POST">
        <label for="anrede">anrede</label>
        <input type="text" name="anrede" id="anrede" required />
        </br>
        <label for="vorname">vorname</label>
        <input type="text" name="vorname" id="vorname" required />
        </br>
        <label for="nachname">nachname</label>
        <input type="text" name="nachname" id="nachname" required />
        </br>
        <label for="email">email</label>
        <input type="email" name="email" id="email" required />
        </br>
        <label for="password">password</label>
        <input type="password" name="password" id="password" minlength="6" required />
        </br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}


