{% extends "base.html" %}

{% block content %}
<h1 class="title">Willkommen zur Web-Applikation</h1>
<p>Diese Applikation wurde im Rahmen des Leistungsnachweises für das Modul <strong>Distributed und Mobile-Systems</strong> erstellt.</p>

<h2 class="subtitle mt-5">Funktionen der Applikation</h2>
<ul>
    <li><strong>Home:</strong> Diese Startseite mit allgemeiner Übersicht.</li>
    <li><strong>Kontakt:</strong> Einfaches Kontaktformular.</li>
    <li><strong>Login:</strong> Anmeldung mit Email und Passwort. Passwort vergessen und Registrierung sind ebenfalls möglich.</li>
    <li><strong>Adress-Liste:</strong> Eine geschützte Seite mit fiktiven Adressen, nur für eingeloggte Benutzer sichtbar.</li>
</ul>
{% endblock %}
