{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Willkommen auf dem Moodle der Berufsfachschule Uster</h1>
    <p class="lead">Hier finden Sie alle wichtigen Informationen und Links zu Ihren Kursen und Ressourcen.</p>
    <hr class="my-4">
    <p class="lead">Wir freuen uns nicht nur auf Ihren Online-Besuch! Kommen Sie bei uns vorbei in der Berufsfachschule Uster.
        <br> Folgendes Wetter erwartet Sie: </p>
    <div style="display: flex; justify-content: center;">
        <div id="openweathermap-widget-18">
        </div>
    </div>
</div>

<script>
    window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
    window.myWidgetParam.push({id: 18,cityid: '2658216',appid: '9ce6bc868b1babd35a4ed4eb32a4d548',units: 'metric',containerid: 'openweathermap-widget-18',  });
    (function() {var script = document.createElement('script');
        script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();
</script>

{% endblock %}
