{% extends 'base.html' %}

{% block title %}Adress-List{% endblock %}

{% block content %}
    <h1>Adress-Liste</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Adress</th>
                <th>Phone-number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>Main Street 4, 67890 Anycity</td>
                <td>765-432109</td>
            </tr>
            <tr>
                <td>Jane Doe</td>
                <td>Park Avenue 5, 67890 Anycity</td>
                <td>654-321098</td>
            </tr>
            <tr>
                <td>Bob Builder</td>
                <td>Construction Lane 6, 67890 Anycity</td>
                <td>543-210987</td>
            </tr>
            <tr>
                <td>Clara Clerk</td>
                <td>Office Road 7, 67890 Anycity</td>
                <td>432-109876</td>
            </tr>
            <tr>
                <td>Frank Farmer</td>
                <td>Countryside Way 8, 67890 Anycity</td>
                <td>321-098765</td>
            </tr>            
        </tbody>
    </table>
{% endblock %}