{% extends "base.html" %}

{% block content %}
<table>
    <tr>
      <th>Name</th>
      <th>Straße</th>
      <th>Stadt</th>
      <th>Postleitzahl</th>
    </tr>
    <tr>
      <td>Hans Meier</td>
      <td>Bahnhofstrasse 1</td>
      <td>Zürich</td>
      <td>8001</td>
    </tr>
    <tr>
      <td>Anna Müller</td>
      <td>Pilatusstrasse 2</td>
      <td>Luzern</td>
      <td>6003</td>
    </tr>
    <tr>
      <td>Max Huber</td>
      <td>Spitalgasse 3</td>
      <td>Bern</td>
      <td>3011</td>
    </tr>
    <tr>
      <td>Erika Weiss</td>
      <td>Rue du Rhône 4</td>
      <td>Genf</td>
      <td>1204</td>
    </tr>
    <tr>
      <td>Paul Schwarz</td>
      <td>Centralbahnstrasse 5</td>
      <td>Basel</td>
      <td>4051</td>
    </tr>
  </table>
  
{% endblock content %}