{% extends "base.html" %}

{% block content %}
<!-- Hier können Sie Ihren Inhalt einfügen -->
<h1>index</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p>Integer nec nulla vitae lorem venenatis interdum.</p>
<p>Fusce consequat sem sed ex luctus, in lobortis tellus eleifend.</p>
<p>Maecenas dapibus metus a sapien feugiat, eu tristique turpis facilisis.</p>
<p>Curabitur rhoncus odio id sem bibendum efficitur.</p>
<p>Sed eget enim non dui vulputate accumsan.</p>
<p>Donec ullamcorper arcu eget justo ultrices ultricies.</p>
<p>Praesent non sem aliquam, consequat nulla eu, varius lacus.</p>
<p>Vivamus id mi ut sem fermentum malesuada in eget purus.</p>
<p>Proin eu sem convallis, molestie elit ac, eleifend elit.</p>
{% endblock content %}
