{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Registrierung</h2>
    <form action="{{ url_for('registrieren') }}" method="post">
        <div class="mb-3">
            <label for="anrede" class="form-label">Anrede</label>
            <input type="text" class="form-control" id="anrede" name="anrede" required>
        </div>
        <div class="mb-3">
            <label for="vorname" class="form-label">Vorname</label>
            <input type="text" class="form-control" id="vorname" name="vorname" required>
        </div>
        <div class="mb-3">
            <label for="nachname" class="form-label">Nachname</label>
            <input type="text" class="form-control" id="nachname" name="nachname" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email-Adresse</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>
</div>
{% endblock content %}
